body{background-color: bisque;}
h1{text-align: center;font-family:Georgia;}
h2{font-family: Georgia;}
.se{width: 500px; height: auto; }
.jh{width: 400px; height: 250px;}
.si{width: 600px; height: auto;}
.sp{width: 400px; height: auto;}
.sz{width: 600px; height: auto;}
.sn{width: 400px; height: auto;}
.sm{width: 400px; height: auto;}
.uj{display: inline-flex;}
.po{display: inline-flex;}
.lo{display: inline-flex;}
.kj{display: inline-flex;}
